.root {
    -fx-font-size: 20px;
    -fx-font-family: "Courier";
    -fx-border-color: #FFF;
    -fx-border-width: 3px;
    -fx-background-color: #BCF5F6;
}

HBox {
    -fx-padding: 10px 30px 0px 10px;
}

#top {
    -fx-background-image: url("../images/GameTop.png");
    -fx-padding: 20px 0px 95px 0px;
}

#middle {
    -fx-background-image: url("../images/Grass.png");
}

#middle .label {
    -fx-text-fill: #fff;
}

.label {
    -fx-text-fill: #000;
    -fx-padding: 10px 0px 10px 20px;
}

.list-cell {
    -fx-font-size: 12px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.button {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-size: 15px;
    -fx-padding: 10px 10px 10px 10px;
}